.createAccount{
    width: 40%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    border: 1px solid grey;
    float: left;
}
.form-control{
    width: 100%;
    // margin-left: 2%;
}
.form-label{
    margin-left: 2%;
}
.registerformdiv{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    align-self: center;
}