<div class = "createAccount">
    <p style="text-align: center; font-size: 200%;">Create new Account</p>
    
    <form #registerform= "ngForm" (ngSubmit)="onformsubmit(registerform.value)">
        <div class="registerformdiv">
            <div class="mb-2">
                <label for="Fullname" class="form-label">Full Name:</label>
                <input type="text" class="form-control" id="fullname" name="fullname" required ngModel>
            </div>
            <div class="mb-3">
                <label for="emailId" class="form-label">E-mail:</label>
                <input type="email" class="form-control" id="emailid" name="email" required ngModel>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Custom Username:</label>
                <input type="text" class="form-control" id="username" name="username" required ngModel>
            </div>
            <div class="mb-3">
                <label class="form-label" for="passwordinput">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required ngModel>
            </div>
            <div class="mb-3">
                <label class="form-label" for="confpasswordinput">Confirm Password:</label>
                <input type="password" class="form-control" id="confpassword" name="confpassword" required> ngModel
            </div>
            <div class="mb-3">
                <label class="form-label" for="phone">Phone:</label>
                <input type="text" class="form-control" id="phone" name="phone" ngModel>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 40%; margin-left: 30%; margin-right: 30%; margin-top: 5%;">Submit</button>
        </div>
    </form>
</div>
<div class = "createAccount">
    <form>
        <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>